@tailwind base;
@tailwind components;
@tailwind utilities;

.small-container {
    max-width: 300px;
    margin: 0 auto;
}

.container-box {
    position: relative;
}

.container-box .arrow {
    position: absolute;
    top: 50%;
    margin-top: -5px;
}

.container-box .arrow.arrow-left {
    left: 0;
}

.container-box .arrow.arrow-right {
    right: 0;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.swiper > .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    margin: 0 auto !important;
}

.review-swiper-button-next, .review-swiper-button-prev {
    position: absolute;
    top: calc(50% - (var(--text-height) / 2));
    transform: translateY(calc(50% - (var(--text-height) / 2)));
}

@media (max-width: 400px) {
    .technology-swiper-container {
        max-width: 80vw;
    }
}

@media (max-width: 1000px) {
    :root {
        --text-height: -17px;
    }

    .technology-slide {
        min-width: 100px;
    }

    #close {
        right: 0.5rem;
    }

    #inner-right, #inner-left {
        padding: 0.1rem;
        font-size: 16px;
    }

    #inner-slider-container {
        padding: 0 1.5rem;
        font-size: 16px;
    }

    .img-text {
        left: 0;
    }
}

@media (min-width: 1000px) {
    :root {
        --text-height: 17px;
    }

    .technology-slide {
        min-width: 176px;
    }

    #inner-slider-container {
        padding: 0 2.5rem;
    }

    #inner-right, #inner-left {
        font-size: 20px;
    }
}

.backface-hidden {
    backface-visibility: hidden;
}

.perspective-1000 {
    perspective: 1000px;
}

.blur-particles {
    filter: blur(5px);
    opacity: 0.2;
}

.swiper-pagination-bullets {
    bottom: -3px !important; /* Adjust this value to move the dots further below */
}

.swiper-pagination-bullet {
    background: #fff; /* White dots */
    opacity: 0.7; /* Slightly transparent */
    transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1; /* Fully opaque when active */
    background: #007aff; /* Custom active color */
}

html {
    scroll-behavior: smooth;
}

#tsparticles-services {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: -1;
}

@media (min-width: 300px) {
    #scrollToTopButton {
        padding: 0.5rem;  /* Equivalent to xs:p-2 (8px) */
        bottom: 0.75rem;  /* Equivalent to xs:bottom-3 (12px) */
        right: 0.75rem;   /* Equivalent to xs:right-3 (12px) */
        width: 2.5rem;    /* Equivalent to xs:w-10 (40px) */
        height: 2.5rem;   /* Equivalent to xs:h-10 (40px) */
    }

    #scrollToTopButtonSvg {
        height: 1rem;     /* Equivalent to xs:h-4 (16px) */
        width: 1rem;      /* Equivalent to xs:w-4 (16px) */
    }
}

/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/

/*:root {*/
/*    --vh: 100vh; !* Fallback *!*/
/*}*/

/*.App {*/
/*    height: calc(var(--vh, 1vh) * 100); !* Locks to computed height *!*/
/*}*/

#tsparticles-services canvas {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100vw !important;  /* Set to 100vw to cover full width */
    height: 100vh !important; /* Use vh cautiously or replace with % */
    pointer-events: none;
}

